*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
html{
    font-size:10px;
    font-weight:500;
    font-style:normal;
    line-height:1;
    color:#fff;
    background-color🪄:#000;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:normal;
    }